@model LAB5_ED1.Models.CarModel

@{
    ViewData["Title"] = "Busqueda";
}

<h1>Buscar mi carro</h1>

<header>
    <a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="Create">Crear </a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="Index">Ordenado ID</a> @*cambio para estar en espanol*@

</header>
<br></br>
<h4>Ingrese la placa de su carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Busqueda">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}