@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rastreo de Vehículos</h1>

</div>
<br />
<ul>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Create">Registrar nuevo vehículo</a></li>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="BusquedaA">Buscar vehículo</a></li>
    <li>Milk</li>
</ul>
